[Unit]
Description=NVIDIA CDI spec generation
ConditionPathExists=|/usr/bin/nvidia-smi
ConditionPathExists=|/usr/sbin/nvidia-smi
ConditionPathExists=/usr/bin/nvidia-ctk
After=local-fs.target

[Service]
Type=oneshot
RuntimeDirectory=cdi
ExecCondition=/usr/bin/grep -qE '/(nvidia|nvidia-current)\.ko' /lib/modules/%v/modules.dep
ExecStart=/usr/bin/nvidia-ctk cdi generate --output=/run/cdi/nvidia.yaml
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target